<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div style="height: 547px;" class="grid m-auto md:h-30rem overflow-y-auto text-lg w-full">
        <!-- date -->
        <div class="col-12 md:col-6">
            <div class="p-card p-3">
                <label for="date" class="block mb-2">
                    <span class="text-lg text-400">Date event : </span>
                </label>
                <p-calendar id="date" formControlName="date" dateFormat="dd/mm/yy" [placeholder]="'Enter the date of the event'" styleClass="w-full" class="text-lg"></p-calendar>
                <div class="error-container text-sm h-2rem">
                    <span *ngIf="form.controls['date'].touched && form.controls['date'].errors?.['required']" class="ml-2 text-red-500">A valid date is required (dd/mm/yyyy)*</span>
                    <span *ngIf="form.controls['date'].touched && form.controls['date'].errors?.['isDate']" class="ml-2 text-red-500">A valid date is required (dd/mm/yyyy)*</span>
                    <!-- <span *ngIf="form.controls['date'].errors?.['required']" class="ml-2 text-red-500">Please enter a valid date*</span> -->
                </div>
            </div>
        </div>
        <!-- category -->
        <div class="col-12 md:col-6">
            <div class="p-card p-3">
                <label for="category" class="block mb-2">
                    <span class="text-lg text-400">Category : </span>
                </label>
                <p-dropdown id="category" [showClear]="true" formControlName="category" [options]="allCategs()" optionLabel="name" styleClass="w-full" placeholder="Select a Category"></p-dropdown>
                <div class="error-container text-sm h-2rem">
                    <span *ngIf="form.controls['category'].touched && form.controls['category'].errors?.['required']" class="ml-2 text-red-500">A category is required*</span>
                    <span *ngIf="form.controls['category'].touched && form.controls['category'].errors?.['isCategory']" class="ml-2 text-red-500">This category is invalid*</span>
                </div>
            </div>
        </div>
        <!-- customer -->
        <div class="col-12 md:col-6">
            <div class="p-card p-3">
                <label for="customer" class="block mb-2">
                    <span class="text-lg text-400">Customer : </span>
                </label>
                <input style="font-family: var(--font-family); font-size: 1rem;" id="customer" type="text" pInputText [placeholder]="'Enter the name of the Customer'" formControlName="customer" class="w-full"/>
                <div class="error-container text-sm h-2rem">
                    <span *ngIf="form.controls['customer'].touched && form.controls['customer'].errors?.['required']" class="ml-2 text-red-500">A customer is required*</span>
                    <span *ngIf="form.controls['customer'].touched && form.controls['customer'].errors?.['minlength']" class="ml-2 text-red-500">This field must contain at least 3 characters*</span>
                    <span *ngIf="form.controls['customer'].touched && form.controls['customer'].errors?.['maxlength']" class="ml-2 text-red-500">This field must contain at most 40 characters*</span>
                </div>
            </div>
        </div>
        <!-- place -->
        <div class="col-12 md:col-6">
            <div class="p-card p-3">
                <label for="place" class="block mb-2">
                    <span class="text-lg text-400">Place : </span>
                </label>
                <input style="font-family: var(--font-family); font-size: 1rem;" id="place" type="text" pInputText [placeholder]="'Enter the name of the place'" formControlName="place" class="w-full"/>
                <div class="error-container text-sm h-2rem">
                    <span *ngIf="form.controls['place'].touched && form.controls['place'].errors?.['required']" class="ml-2 text-red-500">A place is required*</span>
                    <span *ngIf="form.controls['place'].touched && form.controls['place'].errors?.['minlength']" class="ml-2 text-red-500">This field must contain at least 3 characters*</span>
                    <span *ngIf="form.controls['place'].touched && form.controls['place'].errors?.['maxlength']" class="ml-2 text-red-500">This field must contain at most 40 characters*</span>
                </div>
            </div>
        </div>
        <!-- infos -->
        <div class="col-12 md:col-6">
            <div class="p-card p-3">
                <label for="infos" class="block mb-2">
                    <span class="text-lg text-400">Details (facultative) : </span>
                </label>
                <textarea id="infos" style="resize: none; font-family: var(--font-family); font-size: 1rem;" rows="5" cols="30" pInputText [placeholder]="'more details...'"  formControlName="infos" class="w-full"></textarea>
                <div class="error-container text-sm h-2rem">
                    <span *ngIf="form.controls['infos'].touched && form.controls['infos'].errors?.['maxlength']" class="ml-2 text-red-500">This field must contain at most 500 characters*</span>
                </div>
            </div>
        </div>
        <!-- state -->
        <div class="col-12 md:col-6">
            <div class="field p-card p-3">
                <label for="infos" class="block mb-2">
                    <span class="text-lg text-400">State : </span>
                </label>
                <div class="radio-buttons grid w-full p-1">
                    <div *ngFor="let confim of confirmations" class="col-12" style="font-family: var(--font-family); font-size: 1rem;">
                        <p-radioButton [inputId]="confim.key" [value]="confim.value" formControlName="confirmed" styleClass="w-full mr-2"></p-radioButton>
                        <label [for]="confim.key">{{ confim.label }}</label>
                    </div>
                    <div class="error-container col-12 text-sm h-2rem">
                        <span *ngIf="form.controls['confirmed'].touched && form.controls['confirmed'].errors?.['required']" class="ml-2 text-red-500">Please choose a state*</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="col-12 md:col-12">
            <div class="field flex gap-3 justify-content-end">
                <p-button label="Reset" (click)="onReset()" [outlined]="true"></p-button>
                <p-button [type]="'submit'" icon="pi pi-check" [severity]="'bg-pink-500'" label="Submit"></p-button>
            </div>
        </div>
    </div>
</form>