<p-card styleClass="m-2" header="About the App">
    <p class="m-0 p-0 mb-2">
        This application provides a user-friendly and intuitive solution to streamline the organization of your daily life, allowing for easy addition and quick review of events on a calendar. This enables you to stay organized and never miss an important occasion. If you have any questions, suggestions, or comments, feel free to contact us :
    </p>

    <ng-template pTemplate="footer">
        <a href="https://web.facebook.com/snow.tucker.9" target="_blank">
            <i class="pi pi-facebook mr-2"></i>
            <span>Hasina Snow</span>
        </a>
    </ng-template>

</p-card>