<form [formGroup]="form" (ngSubmit)="onSubmit()"    >
    <div style="height: 547px;" class="grid m-auto md:h-auto overflow-y-auto text-lg w-full">
        <!-- date -->
        <div class="field p-card p-3 col-12">
            <label for="date">
                <span class="text-lg text-400">Date event : </span>
            </label>
            <p-calendar id="date" formControlName="date" dateFormat="dd/mm/yy" styleClass="w-full" class="text-lg"></p-calendar>
        </div>
        <!-- category -->
        <div class="field p-card p-3 col-12">
            <label for="category">
                <span class="text-lg text-400">Category : </span>
            </label>
            <p-dropdown id="category" [showClear]="true" formControlName="category" [options]="categories" optionLabel="name" styleClass="w-full" placeholder="Select a Category"></p-dropdown>
        </div>
        <!-- customer -->
        <div class="field p-card p-3 col-12">
            <label for="customer">
                <span class="text-lg text-400">Customer : </span>
            </label>
            <input style="font-family: var(--font-family); font-size: 1rem;" id="customer" type="text" pInputText formControlName="customer" class="w-full"/>
        </div>
        <!-- place -->
        <div class="field p-card p-3 col-12">
            <label for="place">
                <span class="text-lg text-400">Place : </span>
            </label>
            <input style="font-family: var(--font-family); font-size: 1rem;" id="place" type="text" pInputText formControlName="place" class="w-full"/>
        </div>
        <!-- infos -->
        <div class="field p-card p-3 col-12">
            <label for="infos">
                <span class="text-lg text-400">Details : </span>
            </label>
            <textarea  id="infos" style="resize: none; font-family: var(--font-family); font-size: 1rem;" rows="5" cols="30" pInputText  formControlName="text" class="w-full"></textarea>
        </div>
        <!--  -->
        <div class="field p-card p-3 col-12">
            <label for="infos">
                <span class="text-lg text-400">Details : </span>
            </label>
            <div class="radio-buttons flex  gap-3 w-full">
                <div *ngFor="let confirm of confirmations" class="flex m-1 gap-3 align-items-center" style="font-family: var(--font-family); font-size: 1rem;">
                    <p-radioButton [inputId]="confirm.key" [value]="confirm.value" formControlName="confirmed" styleClass="w-full"></p-radioButton>
                    <label [for]="confirm.key" class="">{{ confirm.label }}</label>
                </div>
            </div>
        </div>
        <div class="field col-12 flex gap-3 justify-content-end">
            <p-button label="Reset" [outlined]="true"></p-button>
            <p-button icon="pi pi-check" [severity]="'bg-pink-500'" label="Submit"></p-button>
        </div>
        <!-- input date event -->
        <!-- <div class="p-card p-3 flex flex-column gap-2" style="height: fit-content;">
            <span class="label p-card-title text-300 text-xl">Date event: </span>
            <p-calendar formControlName="date" dateFormat="dd/mm/yy" styleClass="w-full" class="text-lg"></p-calendar>
            <small 
            *ngIf="form.controls['date'].errors?.['required']"
            class="ml-1 text-orange-900 font-bold text-sm" id="username-help">The Date is required</small>

            <div class="flex gap-4 mt-2 text-xl align-items-center ">
                <div *ngFor="let confim of confirmations" class="field-checkbox ">
                    <p-radioButton [inputId]="confim.id" [value]="confim.value" formControlName="confirmed" styleClass="w-full"></p-radioButton>
                    <label [for]="confim.id" class="ml-2">{{ confim.name }}</label>
                </div>
            </div>
            <small 
            *ngIf="form.controls['date'].errors?.['required']"
            class="ml-1 text-orange-900 font-bold text-sm" id="username-help">The Date is required</small>
        </div> -->

        <!-- input category -->
        <!-- <div class="p-card p-3 flex flex-column gap-2">
            <span class="label p-card-title text-300 text-xl">Category : </span>
            <p-dropdown [showClear]="true" formControlName="category" [options]="categories" optionLabel="name" styleClass="w-full" placeholder="Select a Category"></p-dropdown>
            <small 
            *ngIf="form.controls['date'].errors?.['required']"
            class="ml-1 text-orange-900 font-bold text-sm" id="username-help">The Date is required</small>

        </div> -->

         <!-- input place -->
         <!-- <div class="p-card p-3 flex flex-column gap-2">
            <span class="label p-card-title text-300 text-xl">Place : </span>
            <input type="text" pInputText formControlName="place" styleClass="w-full" class="text-lg"/>
        </div> -->

        <!-- input customer -->
        <!-- <div class="p-card p-3 flex flex-column gap-2">
            <span class="label p-card-title text-300 text-xl">Customer : </span>
            <input type="text" pInputText formControlName="customer" styleClass="w-full" class="text-lg"/>
        </div> -->

        <!-- input infos -->
       <!-- <div class="p-card p-3 flex flex-column gap-2">
            <span class="label p-card-title text-300 text-xl">Details : </span>
            <textarea rows="5" cols="30" pInputTextarea formControlName="text" styleClass="w-full text-xl" class="text-lg"></textarea>
        </div>  -->

        <!-- <div class="w-full flex justify-content-end">
            <button class="p-button bg-pink-500 font-bold text-lg m-2">Submit</button>
        </div> -->
    </div>
</form>
